<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Title de base{% endblock %}</title>
</head>
<body>
  <header>
    {% if user.is_authenticated %}
      User: {{ user.username }}&emsp;
      <a href="{% url 'nouapp:logout' %}">Logout</a>&emsp;
      <a href="{% url 'nouapp:selector' %}">Start</a>&emsp;
      <a href="{% url 'nouapp:home' %}">Home</a>
    {% else %}
      <a href="{% url 'nouapp:login' %}">Login</a>
      You need to be logged to proceed
    {% endif %}
    <br />
    <h1>Update Google Calendar with NOU</h1>    
  </header>
  <hr>  <br />
  <main>
    {% if user.is_authenticated %}
        {% block content %}
        {% endblock %}
    {% endif %}
  </main>
</body>
</html>