<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Title de base{% endblock %}</title>
</head>
<body>
  <header>
    <h1>Django Simple Login</h1>
    {% if user.is_authenticated %}
      Hi {{ user.username }}!<br />
      <a href="{% url 'nouapp:logout' %}">logout</a><br /><br />
      <a href="{% url 'nouapp:selector' %}">START</a>
    {% else %}
      <a href="{% url 'nouapp:login' %}">login</a>
    {% endif %}
  </header>
  <hr>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <hr>
  <footer>
    <a href="{% url 'nouapp:home' %}">HOME</a>
  </footer>
</body>
</html>