{% extends 'nouapp/base.html' %}

{% block content %}
    <table border="1">
        <tr>
            <th>Date</th>
            <th>Person</th>
            <th>Nou</th>
            <th>Quote</th>
        </tr>
        {% for item in query %}
        <tr> 
            <td>{{ item.date }}</td>
            <td>{{ item.person }}</td>
            <td align="center">{{ item.num }}</td>
            <td>{{ item.quote.author }} <br> {{ item.quote.text }}</td>
        </tr>
        {% endfor %}
    </table>

    <a href="{% url 'nouapp:updatecal' person_id=data.person_id datefrom=data.datefrom dateto=data.dateto %}">Update to calendar</a>
    &emsp;
    <a href="{% url 'nouapp:selector' person_id=data.person_id datefrom=data.datefrom dateto=data.dateto %}">Back</a>
{% endblock %}
