{% extends 'login/base.html' %}

{% block content_auth %}
    <form action="{% url 'nouapp:selector' %}" method="post" class="form-group">
        {% csrf_token %}

        <!-- Name -->
        <div class="form-group">
            {{ form.name.errors }}
            <label for="{{ form.name.id_for_label }}">Name:</label>
            {{ form.name }}
        </div>
        <br />
        <!-- Initial date -->
        <div class="form-group">
            {{ form.datefrom.errors }}
            <label for="{{ form.datefrom.id_for_label }}">Initial date:</label>
            {{ form.datefrom }}&emsp;
            <button type="button" class="btn btn-info btn-sm" 
                onclick="today({{ form.datefrom.id_for_label }}.id)">Today</button>
        </div>
        <br />
        <!-- Final date -->
        <div class="form-group">
            {{ form.dateto.errors }}
            <label for="{{ form.dateto.id_for_label }}">Final date:</label>
            {{ form.dateto }}&emsp;
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-info btn-sm" 
                    onclick="add1month({{ form.dateto.id_for_label }}.id)">+ 1 month</button>&emsp;
                <button type="button" class="btn btn-info btn-sm" 
                    onclick="setdate({{ form.dateto.id_for_label }}.id,'{{lastday}}')">Last Day</button>
            </div>
        </div>
        <div class="bg-danger"><strong>{{ form.non_field_errors }}</strong></div>
        <br />
        <input type="submit" class="btn btn-primary btn-md" value="Submit" />&emsp;
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">Help</button>
    </form>
    
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Help</h4>
                </div>
                <div class="modal-body">
                    <p>
                        All NOU numbers between <code>Initial date</code> and 
                        <code>Final date</code> will be added to a new Calendar
                        named NOU in your Google Calendar.
                    </p>
                    <p>Select your name and both dates in the fields.</p>
                    <p>
                        Push <code>Last day</code> to set the last entry of the Excel NOU
                        as the <code>Final date</code>.
                    </p>
                    <p>
                        Push <code>+ 1 month</code> to set within one month as the <code>Final date</code>.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% load static %}<script src="{% static 'js/selector.js' %}"></script>
{% endblock %}
{% block content_notauth %}
    <h2>Error!!! User Not logged !!!</h2>
{% endblock %}
